<div class="column-left">
  <p><%= f.label :name, 'Nome do Estabelecimento' %><br />
  <%= f.text_field :name, placeholder: 'Nome do Local do Evento', required: true %></p>

  <div class="combined">
    <p class="large"><%= f.label :address, 'Endereço' %><br />
    <%= f.text_field :address, placeholder: 'Endereço' %></p>

    <p class="small"><%= f.label :number, 'Número' %><br />
    <%= f.text_field :number, placeholder: 'Número' %></p>
  </div>

  <div class="combined">
    <p class="large"><%= f.label :neighborhood, 'Bairro' %><br />
    <%= f.text_field :neighborhood, placeholder: 'Bairro' %></p>

    <p class="small"><%= f.label :country, 'País' %><br />
    <%= f.text_field :country, placeholder: 'Páis', value: 'Brasil' %></p>
  </div>
</div>

<div class="column-right">
  <div class="combined">
    <p class="large"><%= f.label :city, 'Cidade' %><br />
      <%= f.text_field :city, placeholder: 'Cidade', required: true %></p>

    <p class="small"><%= f.label :state, 'Estado' %><br />
    <%= f.text_field :state, placeholder: 'Estado', required: true %></p>
  </div>

  <p><%= f.label :phone, 'Telefone' %><br />
  <%= f.text_field :phone, placeholder: 'Telefone' %></p>

  <p><%= f.label :email, 'Email' %><br />
  <%= f.text_field :email, placeholder: 'Email' %></p>
</div>

<div class="clear"></div>

<div class="action_bar">
  <%= f.submit "Salvar", class: "button blue" %>
  <a href="/">Cancelar</a>
</div>
