  <div class="box">
    <div class="box-header">
      <h1>Estabelecimentos</h1>
    </div>

    <% if @locals.any? %>

    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cidade/Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @locals.all.each do |resource| %>
        <tr>
          <td><%= resource.name %></td>
          <td><%= resource.city %>/<%= resource.state %></td>
          <td>
            <%= link_to 'Detalhes', local_path(resource), class: "button plain" %>
            <%= link_to 'Editar', edit_local_path(resource), class: "button plain" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% else %>
      <div class="box-content">
        <p>Nenhum estabelecimento. <%= link_to 'Adicionar Novo Local', new_local_path, class: 'button small plain' %></p>
      </div>
    <% end %>

    <%= render partial: 'commons/pagination', locals: { paginated_collection: @locals } %>
  </div>
