<div class="box">
  <div class="box-header">
    <h1>Estabelecimentos</h1>
  </div>
  <div class="box-content">
    <%= form_for(@local) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>