<div class="box grid_6 alpha">

  <div class="box-header">
    <h1>Estabelecimento</h1>
  </div>

  <table>
    <tbody>
      <tr>
        <td>Nome</td>
        <td><strong><%= @local.name %></strong></td>
      </tr>

      <tr>
        <td>Endereço</td>
        <td><%= @local.address %>, <%= @local.number %> - <%= @local.neighborhood %></td>
      </tr>

      <tr>
        <td>Cidade/Estado</td>
        <td><%= @local.city %>/<%= @local.state %></td>
      </tr>

      <tr>
        <td>Telefone</td>
        <td><%= @local.phone %></td>
      </tr>

      <tr>
        <td>Email</td>
        <td><%= @local.email %></td>
      </tr>
    
    </tbody>
  </table>

  <div class="action_bar">
    <%= link_to 'Editar', edit_local_path(@local), class: 'button plain' %>
    <%= link_to 'Remover', local_path(@local), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
  </div>

</div>


<div class="box grid_6 omega">
  <div class="box-header">
    <h1>Eventos neste Local</h1>
  </div>

  <% if @local.events.any? %>

    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @local.events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td>
              <%= link_to 'Ver', event_path(event), class: "button plain" %>
              <%= link_to 'Remover', event_path(event), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <div class="box-content">
      <p>Nenhum evento neste lugar.</p>
    </div>
  <% end %>
</div>
