<div id="full-clndr"><%= image_tag 'loader.gif' %>  Carregando... </div>

<script type="text/template" id="full-clndr-template">
  <div class="box box grid_8 alpha">
    <div class="box-header">
      <h1>Calendário</h1>
    </div>

    <div class='clndr-controls'>
      <div class='clndr-previous-button'> << </div>
      <div class='clndr-next-button'> >> </div>
      <div class='current-month'>{{= month }} {{= year }}</div>
    </div>

    <table class='clndr-table' border='0' cellspacing='0' cellpadding='0'>
      <thead>
        <tr class='header-days'>
          {{ for(var i = 0; i < daysOfTheWeek.length; i++) { }}
            <td class='header-day'>{{= daysOfTheWeek[i] }}</td>
          {{ } }}
        </tr>
      </thead>
      <tbody>
      {{ for(var i = 0; i < numberOfRows; i++){ }}
        <tr>
        {{ for(var j = 0; j < 7; j++){ }}
          {{ var d = j + i * 7; }}
            {{ if (days[d].events.length > 0) { }}
              <td class='{{= days[d].classes }} {{= days[d].events[0].is_current }}' title="{{= days[d].events[0].title }} no {{= days[d].events[0].location }}">
                <a href="{{= days[d].events[0].url }}" class="tipped" data-title="{{= days[d].events[0].title }}" data-content="{{= days[d].events[0].content }}">{{= d }}</a>
              </td>
            {{ } else { }}
              <td class='{{= days[d].classes }}'>
                <span>{{= d }}</span>
              </td>
            {{ } }}
            </td>
          {{ } }}
        </tr>
      {{ } }}
      </tbody>
    </table>
  </div>

  <div class="box box grid_4 omega">
    <div class="box-header">
      <h1>{{= eventsThisMonth.length }} Eventos</h1>
    </div>
    {{ if (eventsThisMonth.length > 0) { }}
    <table>
      <tbody>
      {{ _.each(eventsThisMonth, function(event) { }}
        <tr>
          <td>
            <div class="event-item">
              <div class="event-date">
                <span class="icon16 calendar"></span>
                 {{= moment(event.start_at).format("DD/MM/YYYY") }}
              </div>
              <div class="event-name"><a href="{{= event.url }}" title="{{= event.title }} no {{= event.location }}">{{= event.title }}</a></div>
              <p class="event-location">{{= event.location }}</p>
            </div>
          </td>
        </tr>
      {{ }); }}
      </tbody>
    </table>
    {{ } else {  }}
    <div class="box-content">
      <p>Nenhum evento em {{= month }}/{{= year }}.</p>
    </div>
    {{ } }}
  </div>
</script>


<% content_for :javascript do %>
  <script type="text/javascript">
    jQuery(function(){
      GEWS.Events.list();
      setTimeout( function(){
        GEWS.Events.calendar();
        GEWS.Events.tips();
      }, 1000);
    });
  </script>
<% end %>