<div class="box">
  <div class="box-header">
    <h1>Minha Conta</h1>
  </div>

  <div class="box-content">
    <%= form_for(resource, url: user_registration_path(resource), html: { method: :put }) do |f| %>

      <div class="column-left">

        <p><%= f.label :name, 'Nome' %><br />
        <%= f.text_field :name, placeholder: 'Nome' %></p>

        <p><%= f.label :email %><br />
        <%= f.email_field :email, placeholder: "Email", class: "{validate: {required:true}}" %></p>

        <p><%= f.label :role, 'Tipo de Usuário' %><br />
        <%= f.select :role, User::ROLES.collect{|role|[role[1],role[0]]} %></p>

        <p><%= f.label :address, 'Endereço' %><br />
        <%= f.text_field :address, placeholder: 'Endereço' %></p>

        <div class="combined">
          <p class="large"><%= f.label :city, 'Cidade' %><br />
            <%= f.text_field :city, placeholder: 'Cidade' %></p>

          <p class="small"><%= f.label :state, 'Estado' %><br />
          <%= f.text_field :state, placeholder: 'Estado' %></p>
        </div>

        <p><%= f.label :phone, 'Telefone' %><br />
        <%= f.text_field :phone, placeholder: 'Telefone' %></p>
      </div>

      <div class="column-right">
        <p><%= f.label :password, 'Senha' %> <i>(não preencha se não for alterar)</i><br />
          <%= f.password_field :password, autocomplete: "off" %></p>

        <p><%= f.label :password_confirmation, 'Confirmação da Senha' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %></p>

        <p><%= link_to registration_path(resource_name), data: { confirm: "Essa ação não poderá ser desfeita. Tem certeza que deseja apagar sua conta?" }, method: :delete, class: 'error' do %>
        <span class="icon32 alert"> </span>Delete Minha Conta <% end %></p>
      </div>

      <div class="clear"></div>

      <div class="action_bar">
        <%= f.submit "Atualizar", class: "button blue" %>
        <a href="/">Cancelar</a>
      </div>

    <% end %>
  </div>
</div>

