<%= form_for(@participant) do |f| %>
<div class="column-left">
  <p class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </p>

  <p class="field">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email %>
  </p>
  
  <div class="combined">
    <p class="large">
      <%= f.label :city, "Cidade" %><br>
      <%= f.text_field :city %>
    </p>
    <p class="minor">
      <%= f.label :state, "Estado" %><br>
      <%= f.select :state, ApplicationHelper::STATES.collect{ |state| [state, state] } %>
    </p>
  </div>
</div>

<div class="column-right">
  <p class="field">
    <%= f.label :address, "Endereço" %><br>
    <%= f.text_field :address %>
  </p>
  <p class="field">
    <%= f.label :phone, "Telefone" %><br>
    <%= f.text_field :phone %>
  </p>
  <div class="combined">
    <p class="medium">
      <%= f.label :cno_code, "Codigo CNO" %><br>
      <%= f.text_field :cno_code %>
    </p>
    <p class="medium">
      <%= f.label :document, "CPF" %><br>
      <%= f.text_field :document %>
    </p>
  </div>
  
</div>

  
<div class="clear"></div>

<div class="action_bar">
  <%= f.submit "Salvar", class: "button blue" %>
  <a href="/">Cancelar</a>
</div>


<% end %>
