<div class="fields">
  <div>
    <p><%= f.label :event_id, 'Evento' %><br />
    <%= f.select :event_id, Event.in_coming.collect{ |event| [event.name, event.id] }, { include_blank: true }, required: true %></p>

    <p><%= f.label :group_id, 'Grupo/Setor' %><br />
    <%= f.select :group_id, Group.all.collect{ |group| [group.name, group.id] }, { include_blank: true }, required: true %></p>

    <br><p><label class="prettyCheckbox checkbox list"> <%= f.check_box :confirm %> Confirmado para este o evento?</label></p>

    <br><label>Se hospeda? Se sim, informe das datas de checkin e checkout.</label>
    <div class="combined">
      <p class="medium"><%= f.label :check_in_at, 'Data do Check In', required: true %><br />
      <%= f.text_field :check_in_at, class: 'datepicker' %> <span class="icon calendar"></span></p>
      <p class="medium"><%= f.label :check_out_at, 'Data do Check Out', required: true %><br />
      <%= f.text_field :check_out_at, class: 'datepicker' %> <span class="icon calendar"></span></p>
    </div>

    <div class="combined">
      <p class="medium"><%= f.label :refund, 'Reembolso de Transporte?' %><br />
      <%= f.text_field :refund, placeholder: ' Se sim, qual o valor?' %></p>
      <p class="medium"><%= f.label :transportation, 'Qual o meio de transporte?' %><br />
      <%= f.text_field :transportation, placeholder: 'Carro, ônibus, taxi, van' %></p>
    </div>

    <p><%= f.label :medicals, 'Informações Médicas' %><br />
    <%= f.text_area :medicals %></p>

    <p><%= f.label :observations, 'Observações' %><br />
    <%= f.text_area :observations, placeholder: 'Observações' %></p>
  </div>
</div>

<div class="clear"></div>

<div class="action_bar">
  <%= f.submit "Inscrever", class: "button blue" %>
</div>


