<div class="box">
  <div class="box-header">
    <h1>Participantes</h1>
  </div>

  <% if @participants.any? %>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cidade/Estado</th>
          <th>Email</th>
          <th>Telefone</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @participants.each do |resource| %>
          <tr>
            <td><%= resource.name %></td>
            <td><%= resource.city %>/<%= resource.state%></td>
            <td><%= resource.email %></td>
            <td><%= resource.phone %></td>
            <td>
              <%= link_to 'Detalhes', participant_path(resource), class: "button plain" %>
              <%= link_to 'Editar', edit_participant_path(resource), class: "button plain" %>
              <%= link_to 'Remover', participant_path(resource), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= render partial: 'commons/pagination', locals: { paginated_collection: @participants } %>

</div>