<div class="box grid_6 omega">
  <div class="box-header">
    <h1>Inscrever em evento</h1>
  </div>

  <div class="box-content">
    <%= form_for(@participant) do |f| %>
      <% f.fields_for :registrations, Registration.new do |r| %>
        <%= render partial: 'registration_fields', locals: { f: r } %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="grid_6 omega">
  <div class="box">
    <div class="box-header">
      <h1>Participante</h1>
    </div>

    <table>
      <tbody>
        <tr>
          <td>Nome</td>
          <td><%= @participant.name %></td>
        </tr>

        <tr>
          <td>Email</td>
          <td><%= @participant.email %></td>
        </tr>

        <tr>
          <td>Código CNO</td>
          <td><%= @participant.cno_code %></td>
        </tr>

        <tr>
          <td>Cidade</td>
          <td><%= @participant.city %>/<%= @participant.state %></td>
        </tr>

        <tr>
          <td>CPF</td>
          <td><%= @participant.document %></td>
        </tr>

        <tr>
          <td>Endereço</td>
          <td><%= @participant.address %></td>
        </tr>

        <tr>
          <td>Telefone</td>
          <td><%= @participant.phone %></td>
        </tr>

      </tbody>
    </table>

    <div class="action_bar">
      <%= link_to 'Editar', edit_participant_path(@participant), class: 'button plain' %>
    </div>
  </div>

</div>

<div class="grid_6 omega">
  <div class="box">
    <div class="box-header">
      <h1>Eventos deste Participante</h1>
    </div>
    
    <% if @participant.events.any? %>

      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @participant.events.all.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= datetime_for event.start_at %></td>
            <td>
              <%= link_to 'Detalhes', event_path(event), class: "button plain" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <div class="box-content">
        <p>Nenhum inscrição.</p>
      </div>
    <% end %>
  </div>
</div>