<%= form_for(@group) do |f| %>
  <p><%= f.label :name, 'Nome do Grupo' %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :region, 'Região' %><br />
  <%= f.text_field :region, required: true %></p>

  <p><%= f.label :user_id, 'Gerente' %><br />
  <%= f.select :user_id, User.all.collect{|user|[user.name, user.id]} %></p>

  <p><%= f.label :sector, 'Setor' %><br />
  <%= f.text_field :sector, required: true %></p>

  <div class="action_bar">
    <%= f.submit "Salvar", class: "button blue" %>
    <a href="/">Cancelar</a>
  </div>
<% end %>