<div class="box">
  <div class="box-header">
    <h1>Grupos</h1>
  </div>

  <% if @groups.any? %>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Região</th>
        <th>Gerente</th>
        <th>Setor</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |resource| %>
        <tr>
          <td><%= resource.name %></td>
          <td><%= resource.region %></td>
          <td><%= resource.manager %></td>
          <td><%= resource.sector %></td>
          <td>
            <%= link_to 'Detalhes', group_path(resource), class: "button plain" %>
            <%= link_to 'Editar', edit_group_path(resource), class: "button plain" %>
            <%= link_to 'Remover', group_path(resource), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
    <div class="box-content">
      <p>Nenhum grupo. <%= link_to 'Adicionar Grupo', new_group_path, class: 'button small plain' %></p>
    </div>
  <% end %>

  <%= render partial: 'commons/pagination', locals: { paginated_collection: @groups } %>
</div>
