<div class="grid_6">

  <div class="box">
    <div class="box-header">
      <h1>Grupo</h1>
    </div>

    <table>
      <tbody>
        <tr>
          <td>Nome do Grupo</td>
          <td><%= @group.name %></td>
        </tr>
        <tr>
          <td>Região</td>
          <td><%= @group.region %></td>
        </tr>
        <tr>
          <td>Gerente</td>
          <td><%= @group.manager %></td>
        </tr>
        <tr>
          <td>Setor</td>
          <td><%= @group.sector %></td>
        </tr>
      </tbody>
    </table>

    <div class="action_bar">
      <%= link_to 'Editar', edit_group_path(@group), class: 'button plain' %>
    </div>
  </div>

</div>
