  <div class="column-left">

    <p><%= f.label :name, 'Nome *' %><br />
    <%= f.text_field :name, placeholder: 'Nome', required: true %></p>

    <p><%= f.label :email, 'Email *' %><br />
    <%= f.email_field :email, placeholder: "Email", class: "{validate: {required:true}}", required: resource.new_record?, disabled: !resource.new_record? %></p>

    <p><%= f.label :role, 'Tipo de Usuário *' %><br />
    <%= f.select :role, User::ROLES.collect{|role|[role[1],role[0]]} %></p>

    <p><%= f.label :password, 'Senha *' %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <small>Mínimo de 8 dígitos.</small></p>

    <p><%= f.label :password_confirmation, 'Confirmação da Senha *' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  </div>

  <div class="column-right">
    <p><%= f.label :address, 'Endereço' %><br />
    <%= f.text_field :address, placeholder: 'Endereço' %></p>

    <div class="combined">
      <p class="large"><%= f.label :city, 'Cidade' %><br />
        <%= f.text_field :city, placeholder: 'Cidade' %></p>

      <p class="small"><%= f.label :state, 'Estado' %><br />
      <%= f.text_field :state, placeholder: 'Estado' %></p>
    </div>

    <p><%= f.label :phone, 'Telefone' %><br />
    <%= f.text_field :phone, placeholder: 'Telefone' %></p>
  </div>

  <div class="clear"></div>

  <div class="action_bar">
    <%= f.submit "Salvar", class: "button blue" %>
    <a href="/">Cancelar</a>
  </div>