<div class="box">
  <div class="box-header">
    <h1>Usuários</h1>
  </div>
  <div class="box-content">
    <%= form_for(@user, url: user_path(@user), html: { method: :put }) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>