<div class="box">
  <div class="box-header">
    <h1>Usuários</h1>
  </div>

  <% if @users.any? %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Permissões</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.all.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.phone %></td>
          <td><%= User::ROLES[user.role.to_sym] %></td>
          <td>
            <%= link_to 'Detalhes', user_path(user), class: "button plain" %>
            <%= link_to 'Editar', edit_user_path(user), class: "button plain" %>
            <%= link_to 'Remover', user_path(user), class: "button plain", method: :delete, data: { confirm: 'TEm Certeza? ' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <div class="box-content">
      <p>Nenhum usuário. <%= link_to 'Adicionar Usuário', new_user_path, class: 'button small plain' %></p>
    </div>
  <% end %>

  <%= render partial: 'commons/pagination', locals: { paginated_collection: @users } %>
</div>
