<div class="box">
  <div class="box-header">
    <h1>Usuários</h1>
  </div>
  <div class="box-content">
    <%= form_for(@user, as: :user, url: user_registration_path(:user), html: { method: :post }) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>