<div class="grid_6">

  <div class="box">
    <div class="box-header">
      <h1>Usuário</h1>
    </div>

    <table>
      <tbody>
        <tr>
          <td>Nome</td>
          <td><strong><%= @user.name %></strong></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= link_to @user.email, "mailto:#{@user.email}" %></td>
        </tr>
        <tr>
          <td>Tipo</td>
          <td class="red"><%= User::ROLES[@user.role.to_sym] %></td>
        </tr>
        <tr>
          <td>Telefone</td>
          <td><%= @user.phone %></td>
        </tr>
        <tr>
          <td>Endereço</td>
          <td><%= @user.address %></td>
        </tr>
        <tr>
          <td>Cidade/Estado</td>
          <td><%= @user.city %>/<%= @user.state %></td>
        </tr>
      </tbody>
    </table>

    <div class="action_bar">
      <%= link_to 'Editar', edit_user_path(@user), class: 'button plain' %>
    </div>
  </div>

</div>