
<div class="column-left">
  <p><%= f.label :customer, 'Cliente' %><br />
  <%= f.select :customer_id, Customer.all.collect{ |customer| [customer.name, customer.id] }, { include_blank: true } %></p>

  <p><%= f.label :name, 'Nome do Evento' %><br />
  <%= f.text_field :name, placeholder: 'Nome', required: true %></p>

  <p><%= f.label :kind, 'Tipo de Evento' %><br />
  <%= f.select :kind, Event::KINDA.map{|k|[k[1], k[0]]} %></p>

  <p><%= f.label :manager, 'Coordenador' %><br />
  <%= f.text_field :manager, placeholder: 'Nome da Gerência' %></p>

  <div class="combined">
    <p class="medium"><%= f.label :start_at, 'Data de Início' %><br />
    <%= f.text_field :start_at, class: 'datepicker', value: datetime_for(@event.start_at) %> <span class="icon calendar"></span></p>
    <p class="medium"><%= f.label :ends_at, 'Data de Término' %><br />
    <%= f.text_field :ends_at, class: 'datepicker', value: datetime_for(@event.ends_at) %> <span class="icon calendar"></span></p>
  </div>

  <p><%= f.label :max_clients, 'Máximo de Participantes' %><br />
  <%= f.text_field :max_clients %></p>
</div>

<div class="column-right">
  <p><%= f.label :local_name, 'Local do Evento' %><br />
  <%= f.select :local_id, Local.all.collect{ |local| [local.name, local.id] }, { include_blank: true, required: true } %></p>

  <p><%= f.label :phone, 'Telefone para Contato' %><br />
  <%= f.text_field :phone, placeholder: 'Telefone' %></p>

  <div class="combined">
    <p class="medium"><%= f.label :montage_date, 'Início da Montagem' %><br />
    <%= f.text_field :montage_date, class: 'datepicker', value: datetime_for(@event.montage_date) %> <span class="icon calendar"></span></p>

    <p class="medium"><%= f.label :montage_ends, 'Final da Montagem' %><br />
    <%= f.text_field :montage_ends, class: 'datepicker', value: datetime_for(@event.montage_ends) %> <span class="icon calendar"></span></p>
  </div>

  <p><%= f.label :observations, 'Observações' %><br />
  <%= f.text_area :observations, placeholder: 'Observações' %></p>

  <p><%= f.label :internals, 'Informações Internas' %><br />
  <%= f.text_area :internals, placeholder: 'Observações Internas' %></p>

</div>


<div class="clear"></div>

<div class="action_bar">
  <%= f.submit "Salvar", class: "button blue" %>
  <a href="/">Cancelar</a>
</div>
