<div class="fields">
  <div class="combined">
    <p class="medium"><%= f.label :name, 'Nome da Sala' %><br />
    <%= f.text_field :name, placeholder: 'Nome', required: true %></p>
    <p class="small"><%= f.label :max_capacity, 'Cap. Máxima', required: true %><br />
    <%= f.text_field :max_capacity %></p>
    <p class="small"><%= f.label :min_capacity, 'Cap. Mínima', required: true %><br />
    <%= f.text_field :min_capacity %> </p>
  </div>
</div>

<div class="clear"></div>

<div class="action_bar">
  <%= f.submit "Salvar Sala", class: "button blue" %>
</div>


