  <div class="box">
    <div class="box-header">
      <h1>Eventos</h1>
    </div>

    <% if @events.any? %>

    <table>
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Nome</th>
          <th>Data de Início</th>
          <th>Local</th>
          <th>Cidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @events.all.each do |event| %>
        <tr>
          <td><%= event.customer.try(:name) %></td>
          <td><%= event.name %></td>
          <td><%= datetime_for event.start_at %></td>
          <td><%= event.local.try(:name) %></td>
          <td><%= event.city %>/<%= event.state %></td>
          <td>
            <%= link_to 'Detalhes', event_path(event), class: "button plain" %>
            <%= link_to 'Editar', edit_event_path(event), class: "button plain" %>
            <%= link_to 'Participantes', registrations_event_path(event), class: "button plain" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% else %>
      <div class="box-content">
        <p>Nenhum evento. <%= link_to 'Adicionar Evento', new_event_path, class: 'button small plain' %></p>
      </div>
    <% end %>

    <%= render partial: 'commons/pagination', locals: { paginated_collection: @events } %>
  </div>


