  <table class="table table-bordered">

    <tbody>
      <tr>
        <td colspan="2" style="text-align:center"><h2><%= link_to resource.name, event_path(resource) %></h2></td>
      </tr>

      <tr>
        <td><b>Local</b></td>
        <td><%= resource.local.name %></td>
      </tr>

      <tr>
        <td><b>Início</b></td>
        <td><%= datetime_for resource.start_at %></td>
      </tr>

      <tr>
        <td><b>Término</b></td>
        <td><%= datetime_for resource.ends_at %></td>
      </tr>

      <tr>
        <td><b>Participantes Confirmados</b></td>
        <td><%= @registrations.size %></td>
      </tr>
    </tbody>

  </table>

  <% if @registrations.any? %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Setor</th>
          <th>Responsável</th>
          <th>Nome</th>
          <th>CNO</th>
          <th>Cidade/Estado</th>
        </tr>
      </thead>

      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.group.name %></td>
            <td><%= registration.group.manager %></td>
            <td><%= registration.name %></td>
            <td><%= registration.cno_code %></td>
            <td><%= registration.city %>/<%= registration.state%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="panel">
      <p>Nenhum inscrito.</p>
    </div>
  <% end %>
  