<%= CSV.generate_line ['Setor', 'Responsável', 'Nome', 'CNO', 'Cidade', 'Estado'] -%>

<%- @registrations.each do |registration| -%>
  <%= CSV.generate_line([registration.group.name, registration.group.manager, registration.name, registration.cno_code, registration.city, registration.state]).html_safe -%>
<%- end -%>
