<%= image_tag 'loader.gif', class: 'pull-right loader', style: 'display:none' %>

<div class="box">
  <div class="box-header">
    <h1>Inscrições</h1>
  </div>
  <div class="box-content">
    <%= form_tag 'inscritos', method: :get do %>
      <div class="column-left">
        <p><label>Busca Por Nome</label><br />
        <%= text_field_tag "nome", params[:nome] %></p>
      </div>
      <div class="column-right">
        <div class="combined">
          <p class="medium"><label>Filtrar por Cidade</label><br />
          <%= select_tag "cidade", options_for_select(@cities, params[:cidade]), include_blank: true %></p>
          <p class="small"><label>Confirmados</label><br />
          <%= check_box_tag "confirmados", params[:confirmados], params[:confirmados] %></p>
        </div>
      </div>
      <div class="clear"></div>

      <div class="action_bar">
        <%= submit_tag "Filtrar", class: "button blue" %>
      </div>

    <% end %>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <h1><%= resource.name %></h1>
    <%= link_to "Imprimir Confirmados", printer_event_path(resource), class: "button plain pull-right" %>
    <%= link_to 'Download CSV', printer_event_path(resource, format: :csv), class: 'button plain pull-right' %>
    <%= link_to event_path(resource), class: "button plain pull-right" do %>
      <span class="ui-icon ui-icon-carat-1-w"></span>Voltar ao Evento
    <% end %>
  </div>

  <% if @registrations.any? %>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Setor</th>
          <th>Cidade/Estado</th>
          <th>Confirmado?</th>
          <% if resource.past? %>
            <th>Compareceu?</th>
          <% end %>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.name %></td>
            <td><%= registration.group.name %></td>
            <td><%= registration.city %>/<%= registration.state%></td>
            <td><%= check_box_tag "confirm", registration.confirm?, registration.confirm?, class: "js-switch toggle", data: { id: registration.id } %> </td>

            <% if resource.past? %>
              <td><%= check_box_tag "presence", registration.presence?, registration.presence?, class: "js-switch toggle", data: { id: registration.id } %> </td>
            <% end %>

            <td>
              <%= link_to 'Detalhes', participant_path(registration.participant), class: "button plain" %>
              <%= link_to 'Remover', registration_path(registration), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="box-content">
      <p>Nenhum inscrito.</p>
    </div>
  <% end %>

  <%= render partial: 'commons/pagination', locals: { paginated_collection: @registrations } %>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    var elems = Array.prototype.slice.call(document.querySelectorAll('input[type=checkbox]'));
    elems.forEach(function(html) {
      var switchery = new Switchery(html, { size: 'small' });
    });

    jQuery('.toggle').on('change', function(){
      jQuery.post( "/registrations/confirm", { id: this.getAttribute('data-id'), field: this.getAttribute('id') });
    });

    if(jQuery('.notice').text().trim() == "Processando arquivo...") {
      jQuery('.loader').show()
      stream = setInterval(function(){
        jQuery('.notification').text('Isso pode levar alguns minutos...').removeClass('notice').addClass('error');
        clearTimeout(stream);
      }, 5000);
      setInterval(function(){
        location.reload();
      }, 8000);
    }
  </script>
<% end %>