<div class="box grid_6 alpha">

  <div class="box-header">
    <h1>Evento</h1>
  </div>

  <table>
    <tbody>
      <tr>
        <td>Nome</td>
        <td><strong><%= @event.name %></strong></td>
      </tr>

      <tr>
        <td>Cliente</td>
        <td><strong><%= link_to_if @event.customer, @event.customer.try(:name), customer_path(@event.customer) %></strong></td>
      </tr>

      <tr>
        <td>Tipo</td>
        <td><%= @event.try(:kind) %></td>
      </tr>
      <tr>
        <td>Gerente</td>
        <td><%= @event.manager %></td>
      </tr>

      <tr>
        <td>Início</td>
        <td><%= datetime_for @event.start_at %></td>
      </tr>

      <tr>
        <td>Término</td>
        <td><%= datetime_for @event.ends_at %></td>
      </tr>

      <tr>
        <td>Máximo de Participantes</td>
        <td><%= @event.max_clients %></td>
      </tr>

      <tr>
        <td>Local do Evento</td>
        <td><%= @event.local.try(:name) %></td>
      </tr>

      <tr>
        <td>Endereço</td>
        <td><%= @event.local.try(:address) %> <%= @event.local.try(:number) %></td>
      </tr>
      <tr>
        <td>Cidade/Estado</td>
        <td><%= @event.local.try(:city) %>/<%= @event.local.try(:state) %></td>
      </tr>
      <tr>
        <td>Telefone</td>
        <td><%= @event.phone %></td>
      </tr>

      <tr>
        <td>Início da Montagem</td>
        <td><%= datetime_for @event.montage_date %></td>
      </tr>

      <tr>
        <td>Término da Montagem</td>
        <td><%= datetime_for @event.montage_ends %></td>
      </tr>

      <tr>
        <td colspan="2">Observações</td>
      </tr>

      <tr><td colspan="2"><blockquote><%= @event.observations %></blockquote></td></tr>

      <tr>
        <td colspan="2">Informações Internas</td>
      </tr>

      <tr><td colspan="2"><blockquote><%= @event.internals %></blockquote></td></tr>
    </tbody>
  </table>

  <div class="action_bar">
    <%= link_to 'Editar', edit_event_path(@event), class: 'button plain' %>
    <%= link_to 'Remover', event_path(@event), class: "button plain", method: :delete, data: { confirm: 'TEm Certeza? ' } %>
  </div>

</div>

<!-- Registrations -->
<div class="box grid_6 omega">
  <div class="box-header">
    <h1>Participantes</h1>
  </div>
  <table>
    <tbody>
      <tr>
        <td>Total de Inscritos</td>
        <td><strong><%= @event.registrations.size %></strong></td>
      </tr>

      <tr>
        <td>Confirmados</td>
        <td><strong><%= @event.registrations.confirmed.size %></strong></td>
      </tr>

      <tr>
        <td>Compareceram</td>
        <td><strong><%= @event.registrations.present.size %></strong></td>
      </tr>
    </tbody>
  </table>

  <div class="action_bar">
    <%= link_to 'Lista de Participantes', registrations_event_path(@event), class: 'button plain' %>
    <%= link_to 'Imprimir Confirmados', printer_event_path(@event), class: 'button plain' %>
    <%= link_to 'Download CSV', printer_event_path(@event, format: :csv), class: 'button plain' %>
  </div>

</div>

<!-- Rooms -->
<div class="box grid_6 omega">
  <div class="box-header">
    <h1>Salas deste Evento</h1>
  </div>

  <% if @event.rooms.any? %>

    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Capacidade</th>
          <th>Alocados</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @event.rooms.each do |room| %>
          <tr>
            <td><%= room.name %></td>
            <td><%= room.max_capacity %></td>
            <td></td>
            <td>
              <%= link_to 'Ver', room_path(room), class: "button plain" %>
              <%= link_to 'Remover', room_path(room), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <div class="box-content">
      <p>Nenhuma sala cadastrada. Utilize o formulário abaixo para cadastrar.</p>
    </div>
  <% end %>
</div>

<div class="box grid_6 omega">
  <div class="box-header">
    <h1>Adicionar Sala para este evento</h1>
  </div>

  <div class="box-content">
    <%= form_for(@event) do |f| %>
      <% f.fields_for :rooms, Room.new do |r| %>
        <%= render partial: 'room_fields', locals: { f: r } %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="box grid_6 omega">
  <div class="box-header">
    <h1>Importar lista de inscritos</h1>
  </div>
  <div class="box-content">
    <%= form_for @event, url: { action: :import }, html: { multipart: true } do |f| %>
      <p>Selecione um arquivo no formato XLSX contendo os campos de participantes.<br />
      <%= f.hidden_field :sheet_cache %>
      <%= f.file_field :sheet, required: true, value: nil %></p>

      <div class="action_bar">
        <%= f.submit "Importar", class: "button blue" %>
        <a href="/">Cancelar</a>
      </div>
    <% end %>
  </div>
</div>