<%= form_for(@customer) do |f| %>
  <p><%= f.label :name, 'Nome do Cliente' %><br />
  <%= f.text_field :name, required: true %></p>

  <div class="combined">
    <p class="large"><%= f.label :city, "Cidade" %><br><%= f.text_field :city, required: true %></p>
    <p class="minor"><%= f.label :state, "Estado" %><br>
      <%= f.select :state, ApplicationHelper::STATES.collect{ |state| [state, state] }, selected: 'RN' %></p>
  </div>

  <div class="action_bar">
    <%= f.submit "Salvar", class: "button blue" %>
    <a href="/">Cancelar</a>
  </div>
<% end %>
