<div class="fields">
  <p><%= f.label :name, 'Nome da Gerência' %><br />
  <%= f.text_field :name, required: true %></p>
</div>

<div class="clear"></div>

<div class="action_bar">
  <%= f.submit "Salvar Gerência", class: "button blue" %>
</div>


