<div class="box">
  <div class="box-header">
    <h1>Clientes</h1>
  </div>

  <% if @customers.any? %>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cidade</th>
          <th>Eventos</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.city %>/<%= customer.state %></td>
            <td><%= customer.events.size %></td>

            <td>
              <%= link_to 'Detalhes', customer_path(customer), class: "button plain" %>
              <%= link_to 'Editar', edit_customer_path(customer), class: "button plain" %>
              <%= link_to 'Remover', customer_path(customer), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <div class="box-content">
      <p>Nenhum cliente cadastrado. <%= link_to 'Adicionar Cliente', new_customer_path, class: 'button small plain' %></p>
    </div>
  <% end %>

  <%= render partial: 'commons/pagination', locals: { paginated_collection:  @customers } %>
</div>
