<div class="grid_6 alpha">

  <div class="box">
    <div class="box-header">
      <h1>Cliente</h1>
    </div>

    <table>
      <tbody>
        <tr>
          <td>Nome</td>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <td>Cidade</td>
          <td><%= @customer.city %>/<%= @customer.state %></td>
        </tr>
      </tbody>
    </table>

    <div class="action_bar">
      <%= link_to 'Editar', edit_customer_path(@customer), class: 'button plain' %>
    </div>
  </div>

  <div class="box">

    <div class="box-header">
      <h1>Eventos deste Cliente</h1>
    </div>

    <% if @customer.events.any? %>

      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Cidade</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customer.events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= datetime_for event.start_at %></td>
              <td><%= event.city %>/<%= event.state %></td>
              <td>
                <%= link_to 'Ver', event_path(event), class: "button plain" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <div class="box-content">
        <p>Nenhum evento cadastrado. <%= link_to 'Adicionar Evento', new_event_path, class: 'button small plain' %></p>
      </div>
    <% end %>

  </div>

</div>


<div class="box grid_6 omega">

  <div class="box-header">
    <h1>Gerências</h1>
  </div>

  <% if @customer.managers.any? %>

    <table>
      <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th></th>
          </tr>
        </thead>
      <tbody>
        <% @customer.managers.each do |manager| %>
          <tr>
            <td><%= manager.id %></td>
            <td><%= manager.name %></td>
            <td>
              <%= link_to 'Remover', manager_path(manager), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <div class="box-content">
      <p>Nenhuma gerência cadastrada. Utilize o formulário abaixo para cadastrar.</p>
    </div>
  <% end %>

</div>

<div class="box grid_6 omega">

  <div class="box-header">
    <h1>Adicionar Gerências para este cliente</h1>
  </div>

  <div class="box-content">
    <%= form_for(@customer) do |f| %>
      <% f.fields_for :managers, Manager.new do |manager| %>
        <%= render partial: 'manager_fields', locals: { f: manager } %>
      <% end %>
    <% end %>
  </div>

</div>

