<meta charset="utf-8">
<meta name="copyright" content="Fabrica2">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= yield :metatags %>
<meta property="og:locale" content="pt_BR">
<meta property="og:site_name" content="Fabrica2">
<meta property="og:type" content="website">
<meta property="fb:app_id" content="">

<title><%= yield(:title) %> Fabrica2</title>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= yield :stylesheets %>

<link rel="canonical" href="<%= request.path %>">
<link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<%= csrf_meta_tag %>
