<nav id="primary">
  <ul>
    <li class="active">
      <%= link_to root_path do %>
        <span class="icon32 dashboard"></span>
        Painel
      <% end %>
    </li>
    <li>
      <%= link_to events_path do %>
        <span class="icon32 calendar"></span>
        Eventos
      <% end %>
    </li>
    <li>
      <%= link_to customers_path do %>
        <span class="icon32 listicon"></span>
        Clientes
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_registration_path do %>
        <span class="icon32 tools"></span>
        Minha Conta
      <% end %>
    </li>
    <% if current_user.is_god? %>
    <li>
      <%= link_to users_path do %>
        <span class="icon32 user"></span>
        Usuários
      <% end %>
    </li>
    <% end %>
    <li class="bottom">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="icon32 quit"></span>
        Sair
      <% end %>
      </a>
    </li>
  </ul>
</nav>