<ul>
  <li>Clientes &rarr;</li>
  <li><%= link_to 'Todos os Clientes', customers_path %></li>
  <li><%= link_to 'Adicionar Cliente', new_customer_path %></li>

  <li>Estabelecimentos &rarr;</li>
  <li><%= link_to 'Todos os Locais', locals_path %></li>
  <li><%= link_to 'Adicionar Local', new_local_path %></li>

  <li>Participantes &rarr;</li>
  <li><%= link_to 'Todos os Participantes', participants_path %></li>
  <li><%= link_to 'Adicionar Participante', new_participant_path %></li>
</ul>
