<ul>
  <li>Eventos &rarr;</li>
  <li><%= link_to 'Todos os Eventos', events_path %></li>
  <li><%= link_to 'Adicionar Evento', new_event_path %></li>
  <li>Salas &rarr;</li>
  <li><%= link_to 'Todas as Salas', rooms_path %></li>
  <li><%= link_to 'Adicionar Sala', new_room_path %></li>
  <li>Grupos &rarr;</li>
  <li><%= link_to 'Todos os Grupos', groups_path %></li>
  <li><%= link_to 'Adicionar Grupo', new_group_path %></li>
</ul>
