<div class="action_bar nomargin">
  <div class="dataTables_info"><%= page_entries_info paginated_collection %></div>
  <%= will_paginate paginated_collection, param_name: :pagina, class: 'dataTables_paginate paging_full_numbers' %>
</div>