<div class="column-left">
  <p><%= f.label :event_id, 'Evento' %><br />
  <%= f.select :event_id, Event.all.map{|event|[event.name, event.id]} %></p>

  <p><%= f.label :name, 'Nome da Sala' %><br />
  <%= f.text_field :name, placeholder: 'Nome' %></p>

  <div class="combined">
    <p class="medium"><%= f.label :max_capacity, 'Capacidade Máxima' %><br />
    <%= f.text_field :max_capacity %></p>
    <p class="medium"><%= f.label :min_capacity, 'Capacidade Mínima' %><br />
    <%= f.text_field :min_capacity %> </p>
  </div>

</div>

<div class="column-right">
  <p>
    <%= f.label :observations, "Observações" %><br>
    <%= f.text_area :observations %>
  </p>
</div>

<div class="clear"></div>

<div class="action_bar">
  <%= f.submit "Salvar", class: "button blue" %>
  <a href="/">Cancelar</a>
</div>

