<div class="box">
  <div class="box-header">
    <h1>Salas</h1>
  </div>
  <% if @rooms.any? %>
  <table>
    <thead>
      <tr>
        <th>Evento</th>
        <th>Nome da Sala</th>
        <th>Capacidade Máxima</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.event.try(:name) %></td>
          <td><%= room.name %></td>
          <td><%= room.max_capacity %></td>
          <td>
            <%= link_to 'Detalhes', room_path(room), class: "button plain" %>
            <%= link_to 'Editar', edit_room_path(room), class: "button plain" %>
            <%= link_to 'Remover', room_path(room), class: "button plain", method: :delete, data: { confirm: 'Tem Certeza? ' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <div class="box-content">
      <p>Nenhuma sala. <%= link_to 'Adicionar Sala', new_room_path, class: 'button small plain' %></p>
    </div>
  <% end %>

  <%= render partial: 'commons/pagination', locals: { paginated_collection: @rooms } %>
</div>

