<div class="box">
  <div class="box-header">
    <h1>Salas</h1>
  </div>
  <div class="box-content">
    <%= form_for(@room) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>