<div class="grid_6">

  <div class="box">
    <div class="box-header">
      <h1>Evento</h1>
    </div>

    <table>
      <tbody>
        <tr>
          <td>Evento</td>
          <td><strong><%= link_to @room.event.try(:name), event_path(@room.event) %></strong></td>
        </tr>
        <tr>
          <td>Nome da Sala</td>
          <td><%= @room.name %></td>
        </tr>
        <tr>
          <td>Capacidade Máxima</td>
          <td><%= @room.max_capacity %></td>
        </tr>
        <tr>
          <td>Capacidade Mínima</td>
          <td><%= @room.min_capacity %></td>
        </tr>
        <tr>
          <td>Observações</td>
          <td><%= @room.observations || 'Sem Observações.' %></td>
        </tr>
      </tbody>
    </table>

    <div class="action_bar">
      <%= link_to 'Editar', edit_room_path(@room), class: 'button plain' %>
    </div>
  </div>

</div>
