form  {
  .field_with_errors input { outline: 1px solid red; }
  p .icon { right: 16px; top: 30px; }
  .chosen-container { margin-top: 2px; }
  .chosen-container-single .chosen-single {
    background-image: none;
    margin-top: 2px;
    height: 30px;
    box-shadow: none;
    padding: 3px 10px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
  }
  .chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
    box-shadow: none;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    background-image: none;
  }
  .combined {
    .minor { 
      width: 24%;
      .chosen-container { width: auto !important }
    }
  }
}