<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <%= render 'commons/head' %>
</head>

  <body data-controller="<%= controller_name %>">
    <%= render 'commons/menu' %>

    <nav id="secondary">
      <%= nav_for controller_name %>
    </nav>

    <section id="maincontainer">
      <div id="main" class="container_12">
        <%= render 'commons/flash' if flash.any? %>
        <%= yield %>
        <div class="clear"></div>
      </div>
    </section>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript %>

    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/excanvas.js"></script>
    <![endif]-->

  </body>

</html>
