<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="viewport" content="user-scalable=no" />
  <meta name="robots.txt" content="nofollow">

  <title>Fabrica2 - Gerenciador de Eventos - Acesso</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body id="login">

  <div id="login_container">
    <div id="login_form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <p><%= f.email_field :email, autofocus: true %></p>
        <p><%= f.password_field :password, autocomplete: "off" %></p>
        <%= f.submit "Entrar", class: "button blue" %>
      <% end %>
    </div>
  </div>

</body>
</html>